.formPages {
    width: 100%;
    text-align: center;
}

#Robot-containerParagraph {
    display: inline-block;
    justify-content: space-between;
}

#Scouter-Initials-input,
#Match-Number-input,
#Team-Number-input,
#Feeder-Count-label,
#Links-Scored-input {
    width: 50px;
}

#Docking-Timer-input {
    width: 60px
}

.Pre-Match-img {
    width: 30%;
    height: 30%;
}

#Docked-containerParagraph {
    text-align: center;
}

#Driver-Skill-containerParagraph {
    /* */
}

.radioContainer {
    /* */
}

.Teleop-option-input {
    display: "inline-block";
}

#Feeder-Count-input {
    padding-bottom: 6;
}